<busgo-header  selected="buses"></busgo-header>

<aside>
	<div>
		<h2>Bus Stop - {{stop.stop_name}}</h2>
		<form>
			<p>
				<label>Routes</label>
				<select multiple ng-model="selectedRoutes" ng-options="route for (route,route) in routes"></select>
				<button ng-click="selectAllRoutes()">Select All</button>
			</p>
		</form>
	</div>
</aside>

<div>
	<h3>Current Time: {{now | date:'shortTime'}}</h3>
	<ol class="pageList">
		<li ng-repeat="bus in buses" ng-show="bus.trip.route |in:selectedRoutes">
			<figure><img ng-src="icons/buses.svg">{{bus.trip.route}}</figure>
			{{(bus.arrival | timeDiff:now)}} {{bus.arrival | date:'shortTime'}} {{bus.trip.trip_headsign}} {{timezoneOffset}}
		</li>
	</ol>
</div>