#busgo {
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	
	height: 100%;
}

#busgo > aside,
#busgo > header,
#busgo > div {
	flex: 1 1 auto;
	-webkit-flex: 1 1 auto;
}

header {
	max-height: 10%;
}

header > nav {
	display: flex;
	display: -webkit-flex;
}

header > nav > * {
	flex: 1 1 auto;
	-webkit-flex: 1 1 auto;
	text-align: center;
}

#mapDisplay {
	width: 100%;
}

#mapControls {
	display: flex;
	display: -webkit-flex;
	
	width: 100%;
	max-height: 25%;
	
	background: white;
}

#mapControls > div {
	flex: 1 1 auto;
	-webkit-flex: 1 1 auto;
}

#mapControls form > p {
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
}

#mapControls form > p > * {
	flex: 0 1 auto;
	-webkit-flex: 0 1 auto;
}

#mapControls form label {
	display: inline-block;
	font-size: 1.1em;
	min-width: 40px;
}

#mapControls form input {
	font-size: 1em;
	width: 400px;
}

#mapControls #busList {
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	
	max-width: 300px;
	list-style-type: none;
}

#mapControls #busList > li {
		flex: 0 1 auto;
	-webkit-flex: 0 1 auto;
	
	width: auto;
	margin: 2px;
	padding: 4px;
	
	font-size: 1.2em;
}

#cursor {
	position: fixed;
	display: none;
	width: 40px;
	height: 40px;
	background-color: hsla(0,50%,50%,0.5);	
	border-radius: 50%;
	border: solid 2px red;
}

a[href="http://zigfu.com/watermark"] {
	display: none;
}