#mapDisplay {
	width: 100%;
	height: 100%;
}

#mapControls {
	position: absolute;
	left: 0%;
	bottom: 0;
	width: 100%;
	height: 25%;
	
	background: white;
}

#cursor {
	position: fixed;
	display: none;
	width: 40px;
	height: 40px;
	background-color: hsla(0,50%,50%,0.5);	
	border-radius: 50%;
	border: solid 2px red;
}

a[href="http://zigfu.com/watermark"] {
	display: none;
}