<html>
	<head>
		<title>Bus Go</title>
		
		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="busgo.css">
		
		<!-- Libraries -->
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<script type="text/javascript" src="http://code.angularjs.org/angular-1.0.1.js"></script>
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
		<script src='http://cdn.zigfu.com/zigjs/zig.min.js'></script>
		<script type="text/javascript" src="map.js"></script>
		<script type="text/javascript" src="event.js"></script>
		<script type="text/javascript" src="angular-parse.js"></script>
		<!-- Scripts -->
		<script type="text/javascript" src="busgo.js"></script>
		<script type="text/javascript" src="gesture.js"></script>
	</head>
	
	<body ng-app="busgo" ng-controller="stopCtrl">
		<div id="mapDisplay" ui-map="map" ui-options="mapOptions">
			<div ng-repeat="stop in stops" ui-map-marker="" ui-map-name="map"
				ui-lat="stop.stop_lat" ui-lng="stop.stop_lon"
				ui-title="stop.stop_name"
				ui-event="{'map-click':'setBusStop(stop)'}"></div>
			
			<div ng-repeat="stop in stopsConnected" ui-map-marker="" ui-map-name="map"
				ui-lat="stop.stop_lat" ui-lng="stop.stop_lon"
				ui-title="stop.stop_name" ui-color="'00ffff'"
				ui-event="{'map-click':'setBusStop(stop)'}"></div>
			
			<div ui-map-marker="stopMainMarker" ui-map-name="map"
				ui-lat="stopMain.stop_lat" ui-lng="stopMain.stop_lon"
				ui-title="'Current Bus Stop: ' + stopMain.stop_name"
				ui-color="'ffff00'"></div>
			
			<div ui-map-marker="" ui-map-name="map"
				ui-lat="startPos.lat()" ui-lng="startPos.lng()"
				ui-color=""></div>
			
			<div ui-map-marker="" ui-map-name="map"
				ui-lat="endPos.lat()" ui-lng="endPos.lng()"
				ui-color=""></div>
			
			<div ng-repeat="trip in stopTrips" ui-map-polyline="" ui-map-name="map"
				ui-path="trip" ui-color="colorList[$index%colorList.length]" ui-weight="4"></div>
		</div>
		<div id="mapControls">
			<h2>Map Controls</h2>
			<h3>{{stop.stop_name}}</h3>
			<p>Start <input ng-model="start"></input></p>
			<p>End <input ng-model="end"></input></p>
		</div>
	</body>
</html>

