body {
	background-color: #EEE;
	font-family: 'Nunito', sans-serif;
}

#busgo {
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	
	min-height: 100%;
}

#busgo > aside,
#busgo > header,
#busgo > div {
	flex: 0 1 auto;
	-webkit-flex: 0 1 auto;
}

header {
}

header > nav {
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
}

header > nav > * {
	flex: 1 1;
	-webkit-flex: 1 1;
	
	text-align: center;
	color: #EEE;
	background-color: #627341;
}

header > nav > a {
	color: inherit;
	text-decoration: none;
}

header > nav > a:hover {
	background-color: BCD166;
}

header > nav > a.selected {
	color: #EEE;
	background-color: #8FA340;
}

header > nav h1 {
	margin: 2px;
}

header > nav img,
header > nav img {
	width: 40px;
	height: 40px;
	margin: 4px;
}


aside {
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	
	width: 100%;
	min-height: 150px;
	
	background-color: #8FA340;
}

aside > div {
	flex: 1 1 auto;
	-webkit-flex: 1 1 auto;
	
	margin: 4px;
	
	background-color: white;
}

aside > div > h2 {
	margin: 0px;
	padding: 4px;
	
	color: white;
	background-color: #627341;
}

aside > div > * {
	margin: 6px;
	
	background-color: white;
}

aside form label {
	display: inline-block;
	font-size: 1.1em;
	min-width: 40px;
}

aside form input {
	font-size: 1em;
	width: 400px;
	margin: 0px 4px;
}

#busgo > #mapDisplay {
	flex: 1 1 auto;
	-webkit-flex: 1 1 auto;
	
	width: 100%;
	min-height: 60%;
}

#mapControls #busList {
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	
	max-width: 300px;
	list-style-type: none;
}

#mapControls #stopDistance {
	width: 60px;
}

#cursor {
	position: fixed;
	display: none;
	width: 40px;
	height: 40px;
	background-color: hsla(0,50%,50%,0.5);
	border-radius: 50%;
	border: solid 2px red;
}

a[href="http://zigfu.com/watermark"] {
	display: none;
}

.place {
	display: flex;
	display: -webkit-flex;
	align-items: flex-start;
	-webkit-align-items: flex-start;
}

.place > img {
	margin-right: 8px;
}
