<busgo-header></busgo-header>

<div id="mapDisplay" ui-map="map" ui-options="mapOptions">
	<div ng-repeat="stop in stops" ui-map-marker="" ui-map-name="map"
		ui-lat="stop.stop_lat" ui-lng="stop.stop_lon"
		ui-title="stop.stop_name" ui-icon="'mapicons/busstop.png'"
		ui-event="{'map-click':'setBusStop(stop)'}"></div>
	
	<div ui-map-marker="stopMainMarker" ui-map-name="map"
		ui-lat="stopMain.stop_lat" ui-lng="stopMain.stop_lon"
		ui-title="'Current Bus Stop: ' + stopMain.stop_name"
		ui-icon="'mapicons/busstop-highlighted.png'"></div>
	
	<div ui-map-marker="marker" ui-map-name="map"
		ui-latlng="startPos"
		ui-color="'ffffff'"></div>
	
	<div ui-map-marker="marker" ui-map-name="map"
		ui-latlng="endPos"
		ui-color="'000000'"></div>
</div>

<aside id="mapControls">
	<div>
		<h2>Plan A Trip</h2>
		<form>
			<p>
				<label for="start">Start</label>
				<input id="start" ng-model="start"></input>
			</p>
			<p>
				<label for="end">End</label>
				<input id="end" ng-model="end"></input>
			</p>
		</form>
	</div>
</aside>