<busgo-header selected="places"></busgo-header>

<aside>
	<div>
		<h1>Places near {{locationName}}</h1>
		<h2>Search</h2>
		<form>
			<p>
				<label>Search Places</label><input ng-model="search">
			</p>
			<p>
				<label>Search Radius</label><input ng-model="radius"><label>m</label>
			</p>
			<p ng-switch on="types">
				<label>Place Types</label><br>
				<select id="typeSelect" multiple ng-model="types" ng-options="type|prettify for type in validTypes"></select>
				<button class="typeButton" ng-repeat="type in mainTypes" ng-click="setTypes(type)" class="{{ type|in:types |true:'selected'|false:'' }}">{{type | prettify}}</button>
			</p>
		</form>
	</div>
</aside>

<div>
	<div id="placesDisplay">
	</div>
		<ol class="pageList">
			<li class="place" ng-repeat="place in places">
				<figure><img ng-src="{{place.icon}}"></figure>
				<div>
					<h2>{{place.name}}</h2>
					<figure>
						<p>{{place.duration.text}}</p>
						<p>{{place.distance.text}}</p>
					</figure>
					<ul>
						<li ng-repeat="type in place.types">{{type | prettify}}</li>
					</ul>
				</div>
			</li>
		</ol>
</div>
