<busgo-header></busgo-header>

<div>
	<h1>Places near {{locationName}}</h1>
	<div id="placesDisplay">
	</div>
		<ol>
			<li class="place" ng-repeat="place in places">
				<img ng-src="{{place.icon}}">
				<div>
					<h2>{{place.name}}</h2>
					<ul>
						<li ng-repeat="type in place.types">{{type | prettify}}</li>
					</ul>
				</div>
			</li>
		</ol>
</div>

<aside>
	<div>
		<h2>Search</h2>
		<form>
			<p>
				<label>Search Places</label><input ng-model="search">
			</p>
			<p>
				<label>Search Radius</label><input ng-model="radius"><label>m</label>
			</p>
			<p>
				<label>Place Types</label><br>
				<select multiple ng-model="types" ng-options="type|prettify for type in validTypes"></select>
			</p>
		</form>
	</div>
</aside>
