<busgo-header selected="places"></busgo-header>

<aside>
	<div>
		<h1>Places near {{locationName}}</h1>
		<h2>Search</h2>
		<form>
			<p>
				<label>Search Places</label><input ng-model="search">
			</p>
			<p>
				<label>Search Radius</label><input ng-model="radius"><label>m</label>
			</p>
			<p ng-switch on="types">
				<label>Place Types</label><br>
				<select id="typeSelect" multiple ng-model="types" ng-options="type|prettify for type in validTypes"></select>
				<button class="typeButton" ng-repeat="type in mainTypes" ng-click="setTypes(type)" class="{{ type|in:types |true:'selected'|false:'' }}">{{type | prettify}}</button>
			</p>
		</form>
	</div>
</aside>

<div>
	<div id="placesDisplay">
	</div>
		<ol class="pageList">
			<li class="place" ng-repeat="place in places">
				<figure><img ng-src="{{place.icon}}"></figure>
				<div>
					<div class="header">
						<h2>{{place.name}}</h2>
						<button ng-click="getDirections(place)">Get Time/Distance</button>
					</div>
					<figure ng-repeat="mode in travelModes" ng-show="place.hasDirections" ng-click="map(place, mode)">
						<p>{{mode}}</p>
						<img ng-src="icons/{{mode}}.svg">
						<p>{{place.dirs[mode].firstRoute().duration.text}}</p>
						<p>{{place.dirs[mode].firstRoute().distance.text}}</p>
					</figure>
				</div>
			</li>
		</ol>
</div>
